*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    
}
body{
    background-color: #1c252c ;
}

 
@import "componets/header" ;
@import "componets/navegacion";
@import "componets/nosotros" ;
@import "componets/servicios";
@import "componets/consultas" ;
@import "componets/especializacion" ;
@import "componets/contacto" ;



