.C1{
    @extend%base ;
}
.t7{
    @extend%encabezados
}
.P3{
    text-align: left;
    font-size: 40px;
    font-family: $fuente3;
    margin-bottom: 30px;
    margin-left: 40px;
    text-decoration: underline;
  }
  .P4{
    text-align: left;
     font-size: 28px;
     margin-left: 60px;
     font-family: $fuente3;
     margin-right: 4rem;
  
  }
  .P5{
    text-align: center;
    font-size: 30px;
    margin-left: 60px;
    font-family:$fuente3;
   
  }
  .form-row {
    width: 60%;
    padding: 50px;
    margin: 0 0 40px 0;
    display: inline-block;
  }
  
  .formulario{
    margin: 0% auto;
    display: flex;
    flex-direction: column;

    input[type="text"] {
        background-color: #fff;
        border: 1px solid $c-l;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
        font-size: 14px;
      }

      label{
        margin-bottom: 20px;
        text-align: left;
        font-size: 15px;
        margin-top: 20px;
      }
      input[type="email"] {
        background-color: #fff;
        border: 1px solid #000000;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
        font-size: 14px; 
    }

    input[type="text"]:invalid,
  input[type="email"]:invalid {
  border: 2px solid red;
}
button {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #5995DA;
    border: none;
    border-radius: 3px;
    padding: 20px 5px 20px 5px;
    cursor: pointer;
    margin-top: 30px;
   width: 20%;

         &:hover{
            background-color: #76AEED;
         }
         &:active{
            background-color: #407fc7;

         }

}

    
 }

 @media (max-width: 575.98px){
  .t7 {
      font-size: 3.8rem; }

      .P3,.P5{
      font-size: 1.2rem;
    }
    .P4{

      font-size: 1rem;

    }
    .formulario button{
      padding-right: 3.2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
    textarea {
      height: 9rem;
  }

  }
  @media (min-width: 576px) and (max-width: 767.98px){
    .t7 {
      font-size: 3.8rem; }

      .P3,.P5{
      font-size: 1.2rem;
    }
    .P4{

      font-size: 1.2rem;

    }
    .formulario button{
      padding-right: 3.2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
    textarea {
      height: 9rem;
  }

  }
  @media (min-width: 768px) and (max-width: 991.98px){
    .t7 {
      font-size: 4.8rem; }

      .P3,.P5{
      font-size: 1.7rem;
    }
    .P4{

      font-size: 1.7rem;

    }
    .formulario button{
      
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
    textarea {
      height: 9rem;
  }

  }