#Contacto{
    @extend%base ;
}
 
 .t10{  
     @extend%encabezados;
 }
 .link{
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    position: fixed;
    bottom: 30px;
    right: 30px;

    
}

.icon{
    font-size: 2rem;
    color : #e0b05b;
    margin-bottom: 1rem;
}


.informacion{
    text-align: start;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fbffff;
    margin-top: 80px;
    margin-right: 2rem;
   
   
   }
   
   .infomap{
    display: flex;
    justify-content: center;
    
    .mapa{ 
       width: 50%;
        display: flex;
        align-content: center;
    }
}

@media (max-width: 575.98px){
    .infomap{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .t10{
        font-size: 3.2rem;
    }
    .informacion{
        text-align: center;
        font-size: 1.3rem;
        margin-right: 0rem;
    }
    .icon{
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
    }
        


    

}
@media (min-width: 576px) and (max-width: 767.98px){
    .infomap{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .t10{
        font-size: 4rem;
    }
    .informacion{
        text-align: center;
        font-size: 2rem;
        margin-right: 0rem;
    }
    .icon{
        font-size: 2rem;
        margin-bottom: 0.7rem;
     }

}
@media (min-width: 768px) and (max-width: 991.98px){
    .infomap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0rem;
       
    }
    .t10{
        font-size: 7rem;
    }
    .informacion{
        text-align: center;
        font-size: 2rem;
    }
    .icon{
        font-size: 2.5rem;
        margin-bottom: 0.7rem;
    
     } 

}
@media (min-width: 768px) and (max-width: 991.98px){

    
    .infomap{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .t10{
        font-size: 7rem;
    }
    .informacion{
        text-align: center;
        font-size: 2rem;
        margin-right: 0rem;
       
    }
    .icon{
        font-size: 2.5rem;
        margin-bottom: 0.7rem;
    
     } 
    }