.C1{
    @extend%base ;
}
.t7{
    @extend%encabezados
}
.P3{
    text-align: left;
    font-size: 40px;
    font-family: $fuente3;
    margin-bottom: 30px;
    margin-left: 40px;
    text-decoration: underline;
  }
  .P4{
    text-align: left;
     font-size: 28px;
     margin-left: 60px;
     font-family: $fuente3;
  
  }
  .P5{
    text-align: center;
    font-size: 30px;
    margin-left: 60px;
    font-family:$fuente3;
   
  }
  .form-row {
    width: 60%;
    padding: 50px;
    margin: 0 0 40px 0;
    display: inline-block;
  }
  
  .formulario{
    margin: 0% auto;
    display: flex;
    flex-direction: column;

    input[type="text"] {
        background-color: #fff;
        border: 1px solid $c-l;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
        font-size: 14px;
      }

      label{
        margin-bottom: 20px;
        text-align: left;
        font-size: 15px;
        margin-top: 20px;
      }
      input[type="email"] {
        background-color: #fff;
        border: 1px solid #000000;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
        font-size: 14px; 
    }

    input[type="text"]:invalid,
  input[type="email"]:invalid {
  border: 2px solid red;
}
button {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #5995DA;
    border: none;
    border-radius: 3px;
    padding: 20px 5px 20px 5px;
    cursor: pointer;
    margin-top: 30px;
   width: 20%;

         &:hover{
            background-color: #76AEED;
         }
         &:active{
            background-color: #407fc7;

         }

}

    
 }