#Contacto{
    @extend%base ;
}
#Contacto img{

    width: $letrageneral;
 }
 .t10{  
     @extend%encabezados;
 }
 .link{
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    position: fixed;
    bottom: 30px;
    right: 30px;
     
    img{
        border-radius: 50px;
        margin-top: 10px;
        &:hover{
            transform: scale(1.3);
            transition: 1s;
        }

    }
    
    
}
.informacion{
    text-align: start;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fbffff;
    margin-top: 80px;
   
   
   }
   
   .infomap{
    display: flex;
    justify-content: space-around;
}
