%principal{
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  
}

$fuente4 : 'PT Sans Narrow', sans-serif;
$color-letra: #e0b05b;
$fuente1:'Tangerine', cursive;
$fuente2 : 'Noto Sans JP', sans-serif;
$color-fondo : #1c252c ;
$fuente5 : 'Mr Bedfort', cursive;
$fuente6 : 'Libre Caslon Display', serif;



