%principal{
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 0%;
  
}



$color-letra: #e0b05b;
$fuente1:'Tangerine', cursive;
$fuente2 : 'Noto Sans JP', sans-serif;
$color-fondo : #1c252c ;



.body-index{
    background-image: url(../img/IF.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
  }

.title{
    @extend%principal;
    color: $color-letra;
    margin-top: 300px ;
    margin-left: 100px;
    font-family: $fuente1;
}
.title-2 {
    @extend%principal;
    color: $color-letra;
    margin-left: 500px;
    font-family: $fuente2;
}


.pagina-principal{
          
    text-align: center;

    button{
        text-decoration: none;
    background-color: $color-fondo;
    color:$color-letra;
    padding: 5px;
    font-size: 35px;
    border-radius: 15px;
    border: none;
    transition: 1s;
    margin-left: 500px;
    margin-top: 100px;
    &:hover{
        transform: scale(1.2);
        background-color: rgb(182, 182, 182);
        color: rgb(255, 255, 255);
        }

        a{
          text-decoration: none;
         color:$color-letra; 
        }
     
   
    
    }
}