$bg-nav:rgb(129, 33, 33);
$bg-let: rgb(255, 255, 255);
$nod:  none;
$c-l: black;
$letrageneral:30px;
$tamaño1:80px;
$fuente-nav :'Oswald', sans-serif;


.ca{
    background-color:$color-fondo;
    color: $bg-let;
    padding-top: 15px;
    padding-bottom: 15px;
   
    position: fixed ;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 3;

    a{  
        text-decoration: $nod;
        color: $bg-let;


    }
}

%flexsbac{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flexsa{
    display: flex;
    justify-content: space-around;
}
.menu{ 
    @extend %flexsa; 
    
   
    
} 

.nav ul { 
    margin-top: 15px;
    list-style: none;
    font-family: $fuente-nav;
    font-size: 1rem;
    margin-right: 7px;
    text-align: right;

    li{
        display: inline-block;
        a {
            display: block; 
            padding: 4px 20px 4px 20px ;
            transition: 1s;
            border-radius: 5px;
            &:hover{
                background-color: $bg-let;
                transform: scale(1.5);
                color: $c-l;

            }
        }

    }
}
 
.titulo {
    font-size: $letrageneral ;
    font-family: $fuente2;
    color: $bg-let;
    display: inline-block;
    margin-right:7px;
    margin-left: 40px;

    
}

.titulo02{
    font-size: 35px;
    font-family: 'Archivo Narrow', sans-serif;
    display: inline-block;
    margin-left: 7px;
}


.logo {
   width: 20px;
   margin-bottom: 10px;
}    
.BLA{
    font-size: 25px;
    background-color: $color-fondo;
    font-family: $fuente-nav;
}
.BLE{
    font-size: 30px;
    background-color: $color-fondo;
    margin-bottom: 100px;
    font-family: $fuente-nav;
}

.navbar-toggler-icon{
    font-size: 3rem;
    color: white;
}

@media (max-width: 575.98px){
    .titulo,.titulo02{
        display: none;
        
}
.w-100{
margin-top: 6rem;

}
     .logo{
         width: 4rem;
         margin: auto;
         }
         .ca{
            padding: 0 0 0 2rem;
             }
         .menu{
            padding-right: 2rem;
                 }
         .nav ul {
            font-size: 0.8rem;
                 }
    
}
@media (min-width: 576px) and (max-width: 767.98px){
    .titulo,.titulo02 {
        display: none;
        
}
.w-100{
    margin-top: 6rem;
    
    }
     .logo{
         width: 4rem;
         margin: auto;
         }
         .ca{
            padding: 0 0 0 3rem;
             }
         .menu{
            padding-right: 6rem;
                 }
         .nav ul {
            font-size: 1.2rem;
                 }

}
@media (min-width: 768px) and (max-width: 991.98px){
    .titulo,.titulo02 ,.BLA ,.BLE {
        display: none;
        
}
.w-100{
    margin-top: 6rem;
    
    }
     .logo{
         width: 4rem;
         margin: auto;
         }
         .ca{
            padding: 0 0 0 3rem;
             }
         .menu{
            padding-right: 6rem;
                 }
         .nav ul {
            font-size: 1.2rem;
                 }
}

@media (min-width: 991.98px) and (max-width: 1200px){

    .titulo{
        font-size: 1.4rem;
    }

    .titulo02{
        font-size: 1.6rem;
    }
    .BLE {
        font-size: 0.8rem;

    }
    .BLA {
        font-size: 0.9rem;

    }
    .nav ul {
        font-size: 0.8rem;
        margin-top: 0%;
        padding: 4px;
        margin-bottom: 7px;
        
             }
             .logo{
                width: 2rem;
                margin-bottom: 0.4rem;
               
             }
}
