%base{
    background-color: #1c252c;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fbffff;
}
%encabezados {
    color: #e0b05b;
    text-align: center;
    font-size: 130px;
    font-family: $fuente1 ;
    margin-bottom: 50px;
}
$fuente3 : 'Playfair Display SC', serif;
.Nosotros{
    @extend%base
}
.titulonosotros{
    @extend%encabezados

}

.parrafo-nosotros{

    margin-left: 50px;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    }
.parrafo-nosotros2{
    text-align: center;
    font-family: $fuente3 ;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.boton-consulta{
    text-align: center;
    margin-top: 60px;
  }
  .boton-nosotros {
    text-decoration: none;
    background-color: #304453;
    color:$color-letra;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
       &:hover{
        background-color: #fbffff;
        color: #000000;

       }
  
  }


  @media (max-width: 575.98px){
    .titulonosotros {
        font-size: 3.3rem; }

      .parrafo-nosotros{
        font-size: 1.2rem;
      }
      .parrafo-nosotros2{
        font-size: 1.2rem;
      }
      .boton-nosotros{

        font-size: 1rem;

      }
    }
    @media (min-width: 576px) and (max-width: 767.98px){
        .titulonosotros {
            font-size: 4rem; }
    
          .parrafo-nosotros{
            font-size: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
          }
          .parrafo-nosotros2{
            font-size: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
          }
          .boton-nosotros{
    
            font-size: 1rem;
    
          }
    }
    @media (min-width: 768px) and (max-width: 991.98px){
        .titulonosotros {
            font-size: 5rem; }
    
          .parrafo-nosotros{
            font-size: 1.5rem;
            margin-left: 2rem;
            margin-right: 2rem;
          }
          .parrafo-nosotros2{
            font-size: 1.5rem;
            margin-left: 2rem;
            margin-right: 2rem;
          }
          .boton-nosotros{
    
            font-size: 1rem;
    
          }
          @media (min-width: 991.98px) and (max-width: 1200px){
            
            .titulonosotros {
                font-size: 2rem; 
            }
        
              .parrafo-nosotros{
                font-size: 1.5rem;
                margin-left: 2rem;
                margin-right: 2rem;
              }
              .parrafo-nosotros2{
                font-size: 1.5rem;
                margin-left: 2rem;
                margin-right: 2rem;
              }
              .boton-nosotros{
        
                font-size: 1rem;
        
              }

          }

    }
