%flexsb{
    display: flex;
    justify-content: space-between
}
%eneunciados-servicios{
    font-family: $fuente3;
    margin: 30px 50px 30px 50px;
    background-color: $bg-let;
    padding: 0 20px 60px 20px;
    border-radius: 20px;
    transition: 0.5s;
    color:$c-l;
    font-size: 30px;

}

%eneunciados-servicios-hover {
background-color: #e0b05b;
color: rgb(253, 253, 253);
 
}

#Servicios{
    @extend%base ;

    ul li{
        text-align: left;
    }
    
}
.titulo2{
    @extend%encabezados
}

.f1{
  display: flex;
  flex-direction: column;
}

.p2{
    text-align: center;
  font-family: $fuente3 ;
  font-size: 30px;
  margin-top: 10px;
  color: #fbffff;
  margin-left: 2rem;
  margin-right: 2rem;
}
.t4{ 
    text-align: left;
    font-size: $letrageneral;
    margin-bottom: 10px;
    margin-left: $letrageneral;
  }

  .P8{
    text-align: left;
    font-size: 20px;
    margin-left: 60px;
  }

  .t5{
    @extend%encabezados
  }
  .t6{
    font-size: 30px;
    padding-bottom: 35px;
    padding-top:  $letrageneral;
  }
  .X1{
    display: inline-block;
    flex-direction: column;
    font-family: $fuente3;
     
  }
  .x2{
   @extend%flexsb;
   padding: 1rem;
   margin: auto;
  }
  .x3{
    @extend%flexsb ;
    padding: 1rem;
    margin: auto;
  }

  .S1{
    @extend%eneunciados-servicios;
    &:hover{
        @extend%eneunciados-servicios-hover
    }
  }
  .S2{
    @extend%eneunciados-servicios;
    &:hover{
        @extend%eneunciados-servicios-hover
    }
  }
  .S3{
    @extend%eneunciados-servicios;
    &:hover{
        @extend%eneunciados-servicios-hover
    }
  }
  .S4{
    @extend%eneunciados-servicios;
    &:hover{
        @extend%eneunciados-servicios-hover
    }
  }

@media (max-width: 575.98px){
  .titulo2,.t5{
    font-size: 3.8rem;
    
  }
  .p2{
    font-size: 0.7rem;
  }
.S1,.S2,.S3,.S4 {
  font-size: 1.2rem;
  margin: 0 0 2rem 0 ;
}
.t6{
  font-size: 1.4rem;
}
.x2{
  padding: 1rem;
  margin: auto;
}
.x3{
  padding: 1rem;
  margin: auto;
}
}
@media (min-width: 576px) and (max-width: 767.98px){
  .titulo2,.t5{
    font-size: 3.8rem;
    
  }
  .p2{
    font-size: 1.2rem;
  }
.S1,.S2,.S3,.S4 {
  font-size: 1.2rem;
  margin: 0 0 2rem 0 ;
}
.t6{
  font-size: 1.4rem;
}
.x2{
  padding: 1rem;
  margin: auto;
}
.x3{
  padding: 1rem;
  margin: auto;
}

}
@media (min-width: 768px) and (max-width: 991.98px){
  .titulo2,.t5{
    font-size: 4.8rem;
    
  }
  .p2{
    font-size: 1.7rem;
  }
.S1,.S2,.S3,.S4 {
  font-size: 1.7rem;
  margin: 0 0 2rem 0 ;
}
.t6{
  font-size: 1.9rem;
}
.x2{
  padding: 1rem;
  margin: auto;
}
.x3{
  padding: 1rem;
  margin: auto;
}

}
@media (min-width: 991.98px) and (max-width: 1200px){
  .titulo2,.t5{
    font-size: 4.8rem;
    
  }
  .p2{
    font-size: 1.3rem;
  }
.S1,.S2,.S3,.S4 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0 ;
}
.t6{
  font-size: 1.9rem;
}
.x2{
  padding: 1rem;
  margin: auto;
}
.x3{
  padding: 1rem;
  margin: auto;
}

}
